.mycurrency-create {
    cursor: pointer;
    width: 100%;
    margin-top: 12px;
    padding: 6px 12px;
    min-height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.2px dashed #D2D7F5;
    border-radius: 10px; 
}

.mycurrency-create p {
    margin: auto;
    padding: 0;
    font-weight: 600;
    font-size: 15px;
    opacity: 0.6;
}

.mycurrency-create-container {
    display: flex;
    flex-direction: column;
}

.mycurrency-create-container-item {
    /* width: 84%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mycurrency-create-container-item p {
    margin: 0;
}

.ant-tag-checkable {
    margin: 6px 0;
    width: 81px;
    height: 36px;
    font-size: 15px !important;
    border-radius: 5px;
    border: 1px solid #5161D4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-tag-checkable:hover {
    color: #6976db !important;
}

.ant-tag-checkable-checked {
    background-color: #5161D4 !important;
}

.ant-checkbox:hover .ant-checkbox-inner {
    border-color: #5161D4;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #5161D4;
    border-color: #5161D4;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
    left: 3px;
}