.cash {
    position: relative;
    margin-left: 36px;
    padding: 24px;
    width: calc(40% - 60px);
    border: 0.2px solid #D2D7F5;
    border-radius: 10px;   
    display: flex;
    flex-direction: column; 
}

.cash h2 {
    margin: 0;
    text-align: left;
    color: #3F4C67;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.cash-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.cash-title {
    display: flex;
    flex-wrap: wrap;
}

.cash-title h4 {
    margin: 0;
    text-align: left;
    color: #979797;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}

.cash-title-item {
    margin: 24px 0;
    width: 50%;
    display: flex;
    align-items: flex-start;
}

.cash-title .circle {
    margin-top: 5px;
    margin-right: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}