.home-mobile {
    display: none;
}

.ant-layout-sider{
    width: fit-content !important;
    max-width: fit-content !important;
    min-width: 0px !important;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected  {
    background-color: #5161D4 !important;
    border-radius: 0px 10px 10px 0px !important;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected  svg path{
    fill: white;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-active svg path{
    fill: white;
}

.ant-menu-item {
    padding-left: 32px !important;
    padding-right: 6px !important;
}

.ant-layout-sider-zero-width-trigger {
    display: none !important;
}

.site-layout-background {
    overflow: scroll;
}

.site-layout-background::-webkit-scrollbar-track {
    display: none;
}

.site-layout-background::-webkit-scrollbar {
    display: none;
}

.site-layout-background::-webkit-scrollbar-thumb {
    display: none;
}

.ant-message-custom-content {
    display: flex !important;
    align-items: center !important;
}

@media (max-width: 479px) {
    .home {
        display: none;
    }

    .home-mobile {
        display: block;
    }
}